

.top {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

.top h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    
}

h1 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.brushes h1 {
    background-color: mediumspringgreen;
}
.frames h1 {
    background-color: lightcoral;
}
.paint h1 {
    background-color: skyblue;
}

.pricetag {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}